html {
    font-family: 'Helvetica Neue';
}

body {
    margin: 0;
}

header {
    background: rgb(175, 225, 175);
    text-align: center;
    height: max-content;
    padding: 1em;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
}

article {
    flex: 1;
    border-width: 1px;
    border-style: solid;
    padding: 1em;
}

.article1 {
    display: grid;
    border-width: 1px;
    border-style: solid;
    padding: 1em;
    align-self: center;
}

article:nth-child(2) {
    flex: 2;
}

#tablero {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 10fr;
    height: 75vh;
    gap: 5px;
    background-color: orange;

}

#tablero div {
    border-style: solid;
    margin: 0px;
    padding: 5px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 220px;
    margin: 0 auto;
    position: relative;
    align-items: center;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
    align-items: center;

}

.container3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items:center
}

.containerP{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;

}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: grey;
    justify-self: center;
  }

.circleP{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: grey;
    justify-self: center;
}

.circleP1{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: black;
    justify-self: center;
}

.circleP2{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color:white;
    justify-self: center;
}
.circleP3{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color:white;
    justify-self: center;
}